@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #fcfcfd;
}

h1,
h2,
h3,
nav,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

a,
li,
ul,
ol {
  list-style: none;
  text-decoration: none;
}

/* Navigation bar */

header {
  height: 5rem;
  background-color: #f5f5f5;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

header nav {
  text-align: center;
  padding-top: 30px;
}

.li-navbar {
  display: inline;
}

.li-title-news {
  float: left;
  padding-left: 20px;
}

.a-navbar {
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 0 15px 0 15px;
  font-size: 20px;
}

.a-title-news {
  color: rgb(8, 224, 8);
  font-size: 30px;
  font-weight: 500;
}

.a-navbar:hover {
  color: #979797;
}

/*  First section of the article */

.section-first-article {
  margin-left: 10rem;
  margin-right: 10rem;
  padding-top: 2.6rem;
}

.div-first-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.a-disparition {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: #2a303b;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.h1-first-title {
  font-family: "Merriweather", serif;
  color: #2a303b;
  margin-top: 12px;
  font-size: 2.2rem;
  font-weight: 500;
}

.div-grid-title-paulAllen {
  grid-column: 1 / span 2;
  max-width: 85%;
}

.p-desc-paulAllen {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #2a303b;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.p-Publishdate {
  margin: 0;
  grid-column: 1 /3;
}

.span-afp {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9e9e9e;
}

.span-afp::after {
  color: #d5d8dc;
  content: "\2022";
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  display: inline-block;
  line-height: 1;
}

.span-publishdate {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9e9e9e;
}

.time-desc-icon {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
}

.clock-svg {
  width: 15px;
  margin-top: 5px;
}

.time-desc-icon {
  margin-bottom: 2px;
}

.time-of-clock {
  padding-top: 4.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
  margin-left: 7px;
}

.div-article-separation {
  margin-top: 10px;
  height: 0.08rem;
  background-color: #d5d8dc;
  width: 2.7rem;
}

figure {
  margin: 0;
  padding: 0;
}

/*  Responsive section 1  */

@media screen and (max-width: 700px) {
  header {
    width: 105%;
  }

  .section-first-article {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2.6rem;
  }

  .h1-first-title {
    font-size: 1rem;
  }

  .a-disparition {
    font-size: 0.8rem;
  }

  .p-desc-paulAllen {
    font-size: 12px;
  }

  .span-afp {
    font-size: 9px;
  }

  .span-publishdate {
    font-size: 9px;
  }

  .span-afp::after {
    padding-left: 0.4rem;
    padding-right: 0.2rem;
  }

  .clock-svg {
    width: 11px;
  }

  .time-of-clock {
    font-size: 10px;
  }

  .div-article-separation {
    margin-top: 1px;
    height: 1.3px;
  }
}

/*  Second section of the article */
.section-main-article {
  display: grid;
  grid-template-columns: 1fr 35rem;
}

.paul-allen-picture {
  width: 36rem;
  margin-top: 25px;
}

.desc-picture-paulAllen {
  margin-top: 5px;
  line-height: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #adadad;
}

.desc-paulAllen {
  grid-column: 1 / 3;
  width: 52%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: #383f4e;
  margin-bottom: 1px;
}

/* Responsive of the 2 section */

@media screen and (max-width: 700px) {
  .paul-allen-picture {
    width: 21.5rem;
    margin-top: 17px;
  }

  .desc-picture-paulAllen {
    font-size: 10px;
  }

  .desc-paulAllen {
    width: 62%;
    font-size: 14px;
  }
}
/* Aside */

.link-aside {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #026b9c;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.aside-article {
  margin: 0;
  padding: 0;
  width: 56%;
}

.span-aside {
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  margin-right: 0;
}

.span-aside::after {
  content: "|";
  display: inline-block;
  color: #c2c4c9;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

/*  Responsive for the aside  */

@media screen and (max-width: 700px) {
  .aside-article {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .span-aside {
    font-size: 12px;
  }

  .span-aside::after {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .link-aside {
    font-size: 12px;
  }
}

/* Section Fortune of Paull Allen */

.section-fortune-paulAllen {
  display: grid;
  grid-template-columns: 1fr 35rem;
}

.h2-secton-main-next {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  width: 127%;
}

.p-fortune-paulAllen {
  grid-column: 1 / 3;
  width: 52%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: #383f4e;
}

/* Responsive for the fortune */
@media screen and (max-width: 700px) {
  .h2-secton-main-next {
    font-size: 1rem;
    width: 400%;
  }

  .p-fortune-paulAllen {
    font-size: 13px;
  }
}
/* End section */

.desc-picture2-paulAllen {
  margin-top: 5px;
  line-height: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #adadad;
  width: 60%;
}

@media screen and (max-width: 700px) {
  .desc-picture2-paulAllen {
    font-size: 10px;
    width: 100%;
  }
}

/* Section passion */

.section-desc-paulAllen {
  display: grid;
  grid-template-columns: 1fr 35rem;
}

.p-desc-passion {
  grid-column: 1 / 3;
  width: 61%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: #383f4e;
  margin-bottom: 1px;
}

.div-tweet-paulAllen {
  margin-top: 30px;
  margin-left: 30px;
}

/* Responsive of the passion and tweet */

@media screen and (max-width: 700px) {
  .p-desc-passion {
    width: 98%;
    font-size: 14px;
  }

  .div-tweet-paulAllen {
    margin-top: 30px;
    margin-left: 0;
  }
}

/* Section of the tweet */

.section-after-tweet {
  display: grid;
  grid-template-columns: 1fr 35rem;
}

.p-desc-after-tweet {
  grid-column: 1 / 3;
  width: 61%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: #383f4e;
  margin-bottom: 1px;
}

.section-after-tweet-2 {
  display: grid;
  grid-template-columns: 1fr 35rem;
  padding-bottom: 35px;
}

.p-desc-after-tweet-2 {
  grid-column: 1 / 3;
  margin-top: 5px;
  width: 61%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: #383f4e;
  margin-bottom: 1px;
}

@media screen and (max-width: 700px) {
  .p-desc-after-tweet {
    font-size: 15px;
    width: 62%;
  }

  .p-desc-after-tweet-2 {
    font-size: 15px;
    width: 62%;
  }
}

/*  Tablet responsive  */

@media screen and (min-width: 755px) and (max-width: 1180px) {
  .h1-first-title {
    width: 142%;
    font-size: 1.6rem;
  }

  .p-desc-paulAllen {
    width: 126%;
  }

  .p-Publishdate {
    margin: 0;
    grid-column: 1 /3;
    width: 110%;
  }

  .desc-paulAllen {
    width: 90%;
    font-size: 14px;
  }

  .p-fortune-paulAllen {
    font-size: 13px;
    width: 73%;
  }

  .aside-article {
    margin: 0;
    padding: 0;
    width: 120%;
  }

  .h2-secton-main-next {
    width: 380%;
  }

  .p-desc-passion {
    width: 100%;
  }

  .div-tweet-paulAllen {
    margin-top: 35px;
    padding-left: 0;
    margin-left: 0;
  }

  .p-desc-after-tweet {
    font-size: 15px;
    width: 90%;
  }

  .p-desc-after-tweet-2 {
    font-size: 15px;
    width: 90%;
  }

  .span-aside {
    font-size: 15px;
  }

  .link-aside {
    font-size: 15px;
  }

  .paul-allen-picture {
    width: 26.5rem;
    margin-top: 17px;
  }

  .desc-picture-paulAllen {
    font-size: 12px;
  }

  .desc-picture2-paulAllen {
    font-size: 12px;
    width: 58%;
  }
}

/*  Responsive for ipad pro  */

@media screen and (min-width: 780px) and (max-width: 1180px) {
  .desc-paulAllen {
    width: 100%;
    font-size: 14px;
  }

  .p-fortune-paulAllen {
    font-size: 13px;
    width: 100%;
  }

  .p-desc-passion {
    font-size: 16px;
    width: 90%;
  }

  .aside-article {
    margin: 0;
    padding: 0;
    width: 75%;
  }

  .h2-secton-main-next {
    width: 350%;
  }

  .p-desc-after-tweet {
    font-size: 15px;
    width: 100%;
  }

  .p-desc-after-tweet-2 {
    font-size: 15px;
    width: 100%;
  }

  .span-aside {
    font-size: 15px;
  }

  .link-aside {
    font-size: 15px;
  }

  .paul-allen-picture {
    width: 26.5rem;
    margin-top: 17px;
  }

  .desc-picture-paulAllen {
    font-size: 12px;
  }

  .desc-picture2-paulAllen {
    font-size: 12px;
    width: 58%;
  }
}
